<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="description" content="Schüco International KG | FO Theme">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TITLE -->
    <title>Schüco International KG</title>

    <!-- FAVICON -->
    <!--[if IE]>
    <link rel="shortcut icon" href="talentlink/img/favicon.png"><![endif]-->
    <link rel="icon" href="talentlink/img/favicon.png">

    <!-- STYLES -->
    <!-- CTS Default / Branded Bootstrap -->
    <link href="talentlink/css/cmp-bs-namespaced.css"
          rel="stylesheet">
    <!-- CTS / Cascada Main Silk Style -->
    <link href="talentlink/css/main-boxes-namespaced.css"
          rel="stylesheet">
    <link href="https://cdn-ui.lumessetalentlink.com/thirdparties/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CTS -->
    <link href="talentlink/css/custom-namespaced.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript"
            src="https://emea3.recruitmentplatform.com/apply-app/static/talentportal/release/1-LATEST/talentportal-widgets-namespaced.js"
            data-lumesse-site-tech-id="QM9FK026203F3VBQB686GF60V"
            data-lumesse-fo-host="emea3.recruitmentplatform.com"
            data-lumesse-job-list-view-type="list"
            data-lumesse-button-agent-view-type="bottom"
            data-lumesse-job-detail-view-type="classic"
            data-lumesse-search-view-type="grid"
    ></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn-ui.lumessetalentlink.com/thirdparties/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn-ui.lumessetalentlink.com/thirdparties/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="lumesse-namespaced-prefix-class">
    <div class="container" id="silk-content">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <div class="sectionBlock">
                    <div id="lumesseDeleteSearchAgentWidget"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn-ui.lumessetalentlink.com/thirdparties/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ebc12771ea2d60"></script>
<script type="text/javascript">
    addthis.layers({
        'theme': 'transparent',
        'share': {
            'position': 'right'
        }

    });
</script>
<script src="https://cdn-ui.lumessetalentlink.com/thirdparties/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript" src="talentlink/js/custom.js"></script>
</body>
</html>